* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: grey;
    color: #fdf000ff;
}

h1 {
    margin-top: 10px;
}

.flex-container, #store-list, #progress-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 500px;
}


#store-list {
    gap: 25px;
    padding-top: 70px;
}


#progress-div {
    gap: 1px;
    position: relative;
}

.store {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.store label, label, #progress-text {
    font-size: 1.25em;
    text-shadow: 0 0 2px #333;
    vertical-align: middle;
}

.flex-container {
    margin-top: 40px;;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    text-decoration-color: #333;
    text-decoration-thickness: 3px;
}


/* el styling */

input[type="checkbox"] {
    display: none;
}

#progress-bar {
    height: 25px;
    width: 80%;
    background-color: #333;
    appearance: none;
    border-radius: 20px;

}


#progress-bar::-webkit-progress-bar {
    background-color: #333;
    border-radius: 20px;
}
#progress-bar::-webkit-progress-value {
    background-color: #fdf000ff;
    border-radius: 20px;
    transition: width .65s;
    box-shadow: 0 0 2px black;

}

.btn {
    font-family: "Roboto", sans-serif;
    height: 50px;
    width: 55px;
    padding: 5px 10px;
    border: 1px solid #fdf000ff;
    font-weight: bold;
    color: #fdf000ff;
    background-color: #333;
    border-radius: 10px;
}

#reset {
    font-size: 1.125em;
    position: absolute;
    top: 70px;
    left: 20px;
    height: fit-content;
    width: fit-content;
}


#install-btn {
    display: none;
    margin: 20px auto 10px 0;
    width: fit-content;
    text-align: center;
}


.fa-repeat {
    font-weight: 900;
}


div#progress-div {
    position:fixed;
    width: 100dvw;
    margin: 0 auto;
    background-color: gray;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px 0 15px;
}
